<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }} Alive?</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="{{ url_for('static', filename='miku_peek.png') }}" type="image/x-icon">
</head>

<body>
    <div class="card">
        <a style="font-size: 2em;"><ruby>似<rt>sǐ</rt></ruby>了吗?</a>

        <div style="height: 20px;"></div>

        <!-- 当前状态 -->
        <a>{{ user }}:<br><a id="status" style="font-size: 1.2em;">{{ status_name }}</a></a>
        <br>
        <a id="additional-info" style="font-size: 1em;">{{ status_desc }}</a>

        <!-- 显示电脑端应用 -->
        <div style="height: 20px;"></div>
        <a>{{ user }}'s 电脑端应用:<br><a id="computer-app" style="font-size: 1.2em;">{{ computer_app }}</a></a>

        <!-- 显示手机端应用 -->
        <div style="height: 20px;"></div>
        <a>{{ user }}'s 手机端应用:<br><a id="phone-app" style="font-size: 1.2em;">{{ phone_app }}</a></a>

        <div style="height: 10px;"></div>
        {{ more_text | safe }}

        <div style="height: 40px;"></div>
        <a>你可以通过这个页面视奸 {{ user }} 。<br>
            或者看看他的
            <a href="https://rimrose.top" target="_blank" style="color: rgb(214, 129, 31);">
                博客
            </a>
        </a>
    </div>
</body>

</html>
